<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="TimerInterval" value="60000"/>
    <add key="SMTPServer" value="127.0.0.1"/>
    <add key="ENTUserAccountId" value="1"/>
  </appSettings>

  <connectionStrings>    
    <add name="HRPaidTimeOffConnString" connectionString="Data Source=.\SQLExpress;Initial Catalog=HRPaidTimeOff;"/>    
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="yourserver.net" userName="svgrizik@yandex.ru" password="" port="80" />
      </smtp>      
    </mailSettings>    
  </system.net>
</configuration>